<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd" default-autowire="byType">


	<!-- 定时任务 quartz -->
	
	 <!-- jobDetail -->  
    <bean id="extendJobDetail"  
        class="org.springframework.scheduling.quartz.JobDetailFactoryBean">  
        <property name="jobClass" value="com.dayuan.task.TestJob" />  
              
        <property name="durability" value="true" /> <!-- Jobs added with no trigger must be durable -->  
    </bean>  
  
    <!-- trigger -->  
    <bean id="extendTrigger"  
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
        <property name="jobDetail" ref="extendJobDetail"></property>  
        <property name="cronExpression" value="0 */1 * * * ?"></property>  
	    <property name="startDelay" value="3000"></property>  
    </bean>  
  
    <!-- schedule factory -->  
    <bean id="SpringJobSchedulerFactoryBean" lazy-init="false" autowire="no"
        class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
        <property name="triggers">  
            <list>  
              <!--    <ref bean="extendTrigger" />  -->
            </list>  
        </property>  
        <property name="jobFactory" ref="myQuartzJobFactory"></property>  
    </bean>     
	

	
	
</beans>

