<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan.mapper.BusInsuranceGuaranteeMapper" >

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id =  #{id}
	</if>
</trim>
</sql>

<select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
 select count(1) from bus_insurance_guarantee
 <include refid="Example_Where_Clause"/>
</select>



<select id="queryByList" resultType="com.dayuan.bean.BusInsuranceGuarantee" parameterType="Object">
		select * from bus_insurance_guarantee
		<include refid="Example_Where_Clause"/> 
		order by id desc
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
	      ${pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	       ${pager.mysqlQueryCondition}
	    </if>
</select>


<insert id="addT"  parameterType="Object" useGeneratedKeys="true" keyProperty="id">
	insert into bus_insurance_guarantee (bid, guaranteeNumber, 
      guaranteePersonName, guaranteePersonIdCard, 
      lguaranteePersonPhone)
    values (#{bid,jdbcType=INTEGER}, #{guaranteeNumber,jdbcType=VARCHAR}, 
      #{guaranteePersonName,jdbcType=VARCHAR}, #{guaranteePersonIdCard,jdbcType=VARCHAR}, 
      #{lguaranteePersonPhone,jdbcType=VARCHAR})
</insert>


<select id="queryById" resultType="com.dayuan.bean.BusInsuranceGuarantee" parameterType="Object">
	select * from bus_insurance_guarantee where id=#{id}
</select>

<select id="queryBybid" resultType="com.dayuan.bean.BusInsuranceGuarantee" parameterType="Object">
	select * from bus_insurance_guarantee where bid=#{id}
</select>

<update id="updateT" parameterType="Object">
	 update bus_insurance_guarantee
    set bid = #{bid,jdbcType=INTEGER},
      guaranteeNumber = #{guaranteeNumber,jdbcType=VARCHAR},
      guaranteePersonName = #{guaranteePersonName,jdbcType=VARCHAR},
      guaranteePersonIdCard = #{guaranteePersonIdCard,jdbcType=VARCHAR},
      lguaranteePersonPhone = #{lguaranteePersonPhone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
</update>


<delete id="delete" parameterType="Object">
	delete from bus_insurance_guarantee where id=#{id}
</delete>

<delete id="deleteBybid" parameterType="Object">
	delete from bus_insurance_guarantee where bid=#{id}
</delete>
	
</mapper>