<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan.mapper.BusLoanInfoControllerMapper" >

<insert id="save"  parameterType="Object" useGeneratedKeys="true" keyProperty="id">
  insert into bus_loaninfo_controller (bid,controllerName,controllerIdCard,controllerRegistration,controllerHouseAddress,controllerPhone,controllerPropertyQuantity,controllerTotalArea,controllertotalValue,contrallerMortgage,controllerPropertyAddress,controllerTotalCar,controllerLicenseNumber,controllerTotalCarValue,controllerOtherAssets,controllerBorrowOfBank,controllerAmount,controllerTheTerm) values 
  (#{bid},#{controllerName},#{controllerIdCard},#{controllerRegistration},#{controllerHouseAddress},#{controllerPhone},#{controllerPropertyQuantity},#{controllerTotalArea},#{controllertotalValue},#{contrallerMortgage},#{controllerPropertyAddress},#{controllerTotalCar},#{controllerLicenseNumber},#{controllerTotalCarValue},#{controllerOtherAssets},#{controllerBorrowOfBank},#{controllerAmount},#{controllerTheTerm})
</insert>


<!-- 根据id，修改记录-->  
<update id="updateReturnInfluences" parameterType="Object">
update bus_loaninfo_controller set bid=#{bid},controllerName=#{controllerName},controllerIdCard=#{controllerIdCard},controllerRegistration=#{controllerRegistration},controllerHouseAddress=#{controllerHouseAddress},controllerPhone=#{controllerPhone},controllerPropertyQuantity=#{controllerPropertyQuantity},controllerTotalArea=#{controllerTotalArea},controllertotalValue=#{controllertotalValue},contrallerMortgage=#{contrallerMortgage},controllerPropertyAddress=#{controllerPropertyAddress},controllerTotalCar=#{controllerTotalCar},controllerLicenseNumber=#{controllerLicenseNumber},
controllerTotalCarValue=#{controllerTotalCarValue},controllerOtherAssets=#{controllerOtherAssets},controllerBorrowOfBank=#{controllerBorrowOfBank},controllerAmount=#{controllerAmount},controllerTheTerm=#{controllerTheTerm} where id=#{id}
</update>


<!-- 根据bid查询 -->
<select id="getBusLoanInfoController"  resultType="com.dayuan.bean.BusLoanInfoController" parameterType="Object">
	select * from bus_loaninfo_controller where bid = #{bid} order by id asc limit 0,1
</select>


 <delete id="deleteByBid" parameterType="Object">
  	delete from bus_loaninfo_controller where bid=#{bid} 
  </delete>

</mapper>
  