<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.mapper.BusLoanInfoShopMapper" >
  <resultMap id="BaseResultMap" type="com.dayuan.bean.BusLoanInfoShop" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bid" property="bid" jdbcType="INTEGER" />
    <result column="shopName" property="shopname" jdbcType="VARCHAR" />
    <result column="platformName" property="platformname" jdbcType="VARCHAR" />
    <result column="shopLevel" property="shoplevel" jdbcType="VARCHAR" />
    <result column="operatingPeriod" property="operatingperiod" jdbcType="VARCHAR" />
    <result column="shopOwner" property="shopowner" jdbcType="VARCHAR" />
    <result column="subAccount" property="subaccount" jdbcType="VARCHAR" />
    <result column="sbuPassword" property="sbupassword" jdbcType="VARCHAR" />
    <result column="businessOpera" property="businessopera" jdbcType="VARCHAR" />
    <result column="businessAddress" property="businessaddress" jdbcType="VARCHAR" />
    <result column="warehouseAddress" property="warehouseaddress" jdbcType="VARCHAR" />
    <result column="salesIncome" property="salesincome" jdbcType="VARCHAR" />
    <result column="totalLiability" property="totalliability" jdbcType="VARCHAR" />
    <result column="bankLiabilities" property="bankliabilities" jdbcType="VARCHAR" />
    <result column="netProfit" property="netprofit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bid, shopName, platformName, shopLevel, operatingPeriod, shopOwner, subAccount, 
    sbuPassword, businessOpera, businessAddress, warehouseAddress, salesIncome, totalLiability, 
    bankLiabilities, netProfit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bus_loaninfo_shop
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getBusLoanInfoShop" resultType="com.dayuan.bean.BusLoanInfoShop" parameterType="Object">
  	select * from bus_loaninfo_shop where bid=#{bid} order by id limit 0,1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bus_loaninfo_shop
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="save" parameterType="com.dayuan.bean.BusLoanInfoShop" useGeneratedKeys="true" keyProperty="id">
    insert into bus_loaninfo_shop (bid, shopName, 
      platformName, shopLevel, operatingPeriod, 
      shopOwner, subAccount, sbuPassword, 
      businessOpera, businessAddress, warehouseAddress, 
      salesIncome, totalLiability, bankLiabilities, 
      netProfit)
    values (#{bid,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, 
      #{platformName,jdbcType=VARCHAR}, #{shopLevel,jdbcType=VARCHAR}, #{operatingPeriod,jdbcType=VARCHAR}, 
      #{shopOwner,jdbcType=VARCHAR}, #{subAccount,jdbcType=VARCHAR}, #{sbuPassword,jdbcType=VARCHAR}, 
      #{businessOpera,jdbcType=VARCHAR}, #{businessAddress,jdbcType=VARCHAR}, #{warehouseAddress,jdbcType=VARCHAR}, 
      #{salesIncome,jdbcType=VARCHAR}, #{totalLiability,jdbcType=VARCHAR}, #{bankLiabilities,jdbcType=VARCHAR}, 
      #{netProfit,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.dayuan.bean.BusLoanInfoShop" >
    insert into bus_loaninfo_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bid != null" >
        bid,
      </if>
      <if test="shopname != null" >
        shopName,
      </if>
      <if test="platformname != null" >
        platformName,
      </if>
      <if test="shoplevel != null" >
        shopLevel,
      </if>
      <if test="operatingperiod != null" >
        operatingPeriod,
      </if>
      <if test="shopowner != null" >
        shopOwner,
      </if>
      <if test="subaccount != null" >
        subAccount,
      </if>
      <if test="sbupassword != null" >
        sbuPassword,
      </if>
      <if test="businessopera != null" >
        businessOpera,
      </if>
      <if test="businessaddress != null" >
        businessAddress,
      </if>
      <if test="warehouseaddress != null" >
        warehouseAddress,
      </if>
      <if test="salesincome != null" >
        salesIncome,
      </if>
      <if test="totalliability != null" >
        totalLiability,
      </if>
      <if test="bankliabilities != null" >
        bankLiabilities,
      </if>
      <if test="netprofit != null" >
        netProfit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="shopname != null" >
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="platformname != null" >
        #{platformname,jdbcType=VARCHAR},
      </if>
      <if test="shoplevel != null" >
        #{shoplevel,jdbcType=VARCHAR},
      </if>
      <if test="operatingperiod != null" >
        #{operatingperiod,jdbcType=VARCHAR},
      </if>
      <if test="shopowner != null" >
        #{shopowner,jdbcType=VARCHAR},
      </if>
      <if test="subaccount != null" >
        #{subaccount,jdbcType=VARCHAR},
      </if>
      <if test="sbupassword != null" >
        #{sbupassword,jdbcType=VARCHAR},
      </if>
      <if test="businessopera != null" >
        #{businessopera,jdbcType=VARCHAR},
      </if>
      <if test="businessaddress != null" >
        #{businessaddress,jdbcType=VARCHAR},
      </if>
      <if test="warehouseaddress != null" >
        #{warehouseaddress,jdbcType=VARCHAR},
      </if>
      <if test="salesincome != null" >
        #{salesincome,jdbcType=VARCHAR},
      </if>
      <if test="totalliability != null" >
        #{totalliability,jdbcType=VARCHAR},
      </if>
      <if test="bankliabilities != null" >
        #{bankliabilities,jdbcType=VARCHAR},
      </if>
      <if test="netprofit != null" >
        #{netprofit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
   <update id="updateReturnInfluences" parameterType="com.dayuan.bean.BusLoanInfoShop" >
    update bus_loaninfo_shop
    set bid = #{bid,jdbcType=INTEGER},
      shopName = #{shopName,jdbcType=VARCHAR},
      platformName = #{platformName,jdbcType=VARCHAR},
      shopLevel = #{shopLevel,jdbcType=VARCHAR},
      operatingPeriod = #{operatingPeriod,jdbcType=VARCHAR},
      shopOwner = #{shopOwner,jdbcType=VARCHAR},
      subAccount = #{subAccount,jdbcType=VARCHAR},
      sbuPassword = #{sbuPassword,jdbcType=VARCHAR},
      businessOpera = #{businessOpera,jdbcType=VARCHAR},
      businessAddress = #{businessAddress,jdbcType=VARCHAR},
      warehouseAddress = #{warehouseAddress,jdbcType=VARCHAR},
      salesIncome = #{salesIncome,jdbcType=VARCHAR},
      totalLiability = #{totalLiability,jdbcType=VARCHAR},
      bankLiabilities = #{bankLiabilities,jdbcType=VARCHAR},
      netProfit = #{netProfit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan.bean.BusLoanInfoShop" >
    update bus_loaninfo_shop
    <set >
      <if test="bid != null" >
        bid = #{bid,jdbcType=INTEGER},
      </if>
      <if test="shopname != null" >
        shopName = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="platformname != null" >
        platformName = #{platformname,jdbcType=VARCHAR},
      </if>
      <if test="shoplevel != null" >
        shopLevel = #{shoplevel,jdbcType=VARCHAR},
      </if>
      <if test="operatingperiod != null" >
        operatingPeriod = #{operatingperiod,jdbcType=VARCHAR},
      </if>
      <if test="shopowner != null" >
        shopOwner = #{shopowner,jdbcType=VARCHAR},
      </if>
      <if test="subaccount != null" >
        subAccount = #{subaccount,jdbcType=VARCHAR},
      </if>
      <if test="sbupassword != null" >
        sbuPassword = #{sbupassword,jdbcType=VARCHAR},
      </if>
      <if test="businessopera != null" >
        businessOpera = #{businessopera,jdbcType=VARCHAR},
      </if>
      <if test="businessaddress != null" >
        businessAddress = #{businessaddress,jdbcType=VARCHAR},
      </if>
      <if test="warehouseaddress != null" >
        warehouseAddress = #{warehouseaddress,jdbcType=VARCHAR},
      </if>
      <if test="salesincome != null" >
        salesIncome = #{salesincome,jdbcType=VARCHAR},
      </if>
      <if test="totalliability != null" >
        totalLiability = #{totalliability,jdbcType=VARCHAR},
      </if>
      <if test="bankliabilities != null" >
        bankLiabilities = #{bankliabilities,jdbcType=VARCHAR},
      </if>
      <if test="netprofit != null" >
        netProfit = #{netprofit,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByBid" parameterType="Object">
  	delete from bus_loaninfo_shop where bid=#{bid} 
  </delete>
  
  <select id="queryListByBId" resultType="com.dayuan.bean.BusLoanInfoShop" parameterType="Object">
  	select * from bus_loaninfo_shop where bid=#{bid}
  </select>
  
</mapper>