<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.mapper.BusLoanInfoGuaranterMapper" >
  <resultMap id="BaseResultMap" type="com.dayuan.bean.BusLoanInfoGuaranter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bid" property="bid" jdbcType="INTEGER" />
    <result column="guaranterName" property="guarantername" jdbcType="VARCHAR" />
    <result column="guaranterCard" property="guarantercard" jdbcType="VARCHAR" />
    <result column="guaranterEmployer" property="guaranteremployer" jdbcType="VARCHAR" />
    <result column="guaranterDuties" property="guaranterduties" jdbcType="VARCHAR" />
    <result column="guaranterPhone" property="guaranterphone" jdbcType="VARCHAR" />
    <result column="guaranterMaritalStatus" property="guarantermaritalstatus" jdbcType="VARCHAR" />
    <result column="guaranterHouseAddress" property="guaranterhouseaddress" jdbcType="VARCHAR" />
    <result column="guaranterMonthlyIncome" property="guarantermonthlyincome" jdbcType="VARCHAR" />
    <result column="guaranterValues" property="guarantervalues" jdbcType="VARCHAR" />
    <result column="guaranterTotalLiabilities" property="guarantertotalliabilities" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bid, guaranterName, guaranterCard, guaranterEmployer, guaranterDuties, guaranterPhone, 
    guaranterMaritalStatus, guaranterHouseAddress, guaranterMonthlyIncome, guaranterValues, 
    guaranterTotalLiabilities
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bus_loaninfo_guaranter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bus_loaninfo_guaranter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="com.dayuan.bean.BusLoanInfoGuaranter" >
    insert into bus_loaninfo_guaranter (bid, guaranterName, 
      guaranterCard, guaranterEmployer, guaranterDuties, 
      guaranterPhone, guaranterMaritalStatus, 
      guaranterHouseAddress, guaranterMonthlyIncome, 
      guaranterValues, guaranterTotalLiabilities
      )
    values (#{bid,jdbcType=INTEGER}, #{guaranterName,jdbcType=VARCHAR}, 
      #{guaranterCard,jdbcType=VARCHAR}, #{guaranterEmployer,jdbcType=VARCHAR}, #{guaranterDuties,jdbcType=VARCHAR}, 
      #{guaranterPhone,jdbcType=VARCHAR}, #{guaranterMaritalStatus,jdbcType=VARCHAR}, 
      #{guaranterHouseAddress,jdbcType=VARCHAR}, #{guaranterMonthlyIncome,jdbcType=VARCHAR}, 
      #{guaranterValues,jdbcType=VARCHAR}, #{guaranterTotalLiabilities,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dayuan.bean.BusLoanInfoGuaranter" >
    insert into bus_loaninfo_guaranter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bid != null" >
        bid,
      </if>
      <if test="guarantername != null" >
        guaranterName,
      </if>
      <if test="guarantercard != null" >
        guaranterCard,
      </if>
      <if test="guaranteremployer != null" >
        guaranterEmployer,
      </if>
      <if test="guaranterduties != null" >
        guaranterDuties,
      </if>
      <if test="guaranterphone != null" >
        guaranterPhone,
      </if>
      <if test="guarantermaritalstatus != null" >
        guaranterMaritalStatus,
      </if>
      <if test="guaranterhouseaddress != null" >
        guaranterHouseAddress,
      </if>
      <if test="guarantermonthlyincome != null" >
        guaranterMonthlyIncome,
      </if>
      <if test="guarantervalues != null" >
        guaranterValues,
      </if>
      <if test="guarantertotalliabilities != null" >
        guaranterTotalLiabilities,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="guarantername != null" >
        #{guarantername,jdbcType=VARCHAR},
      </if>
      <if test="guarantercard != null" >
        #{guarantercard,jdbcType=VARCHAR},
      </if>
      <if test="guaranteremployer != null" >
        #{guaranteremployer,jdbcType=VARCHAR},
      </if>
      <if test="guaranterduties != null" >
        #{guaranterduties,jdbcType=VARCHAR},
      </if>
      <if test="guaranterphone != null" >
        #{guaranterphone,jdbcType=VARCHAR},
      </if>
      <if test="guarantermaritalstatus != null" >
        #{guarantermaritalstatus,jdbcType=VARCHAR},
      </if>
      <if test="guaranterhouseaddress != null" >
        #{guaranterhouseaddress,jdbcType=VARCHAR},
      </if>
      <if test="guarantermonthlyincome != null" >
        #{guarantermonthlyincome,jdbcType=VARCHAR},
      </if>
      <if test="guarantervalues != null" >
        #{guarantervalues,jdbcType=VARCHAR},
      </if>
      <if test="guarantertotalliabilities != null" >
        #{guarantertotalliabilities,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayuan.bean.BusLoanInfoGuaranter" >
    update bus_loaninfo_guaranter
    <set >
      <if test="bid != null" >
        bid = #{bid,jdbcType=INTEGER},
      </if>
      <if test="guarantername != null" >
        guaranterName = #{guarantername,jdbcType=VARCHAR},
      </if>
      <if test="guarantercard != null" >
        guaranterCard = #{guarantercard,jdbcType=VARCHAR},
      </if>
      <if test="guaranteremployer != null" >
        guaranterEmployer = #{guaranteremployer,jdbcType=VARCHAR},
      </if>
      <if test="guaranterduties != null" >
        guaranterDuties = #{guaranterduties,jdbcType=VARCHAR},
      </if>
      <if test="guaranterphone != null" >
        guaranterPhone = #{guaranterphone,jdbcType=VARCHAR},
      </if>
      <if test="guarantermaritalstatus != null" >
        guaranterMaritalStatus = #{guarantermaritalstatus,jdbcType=VARCHAR},
      </if>
      <if test="guaranterhouseaddress != null" >
        guaranterHouseAddress = #{guaranterhouseaddress,jdbcType=VARCHAR},
      </if>
      <if test="guarantermonthlyincome != null" >
        guaranterMonthlyIncome = #{guarantermonthlyincome,jdbcType=VARCHAR},
      </if>
      <if test="guarantervalues != null" >
        guaranterValues = #{guarantervalues,jdbcType=VARCHAR},
      </if>
      <if test="guarantertotalliabilities != null" >
        guaranterTotalLiabilities = #{guarantertotalliabilities,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateReturnInfluences" parameterType="com.dayuan.bean.BusLoanInfoGuaranter" >
    update bus_loaninfo_guaranter
    set bid = #{bid,jdbcType=INTEGER},
      guaranterName = #{guaranterName,jdbcType=VARCHAR},
      guaranterCard = #{guaranterCard,jdbcType=VARCHAR},
      guaranterEmployer = #{guaranterEmployer,jdbcType=VARCHAR},
      guaranterDuties = #{guaranterDuties,jdbcType=VARCHAR},
      guaranterPhone = #{guaranterPhone,jdbcType=VARCHAR},
      guaranterMaritalStatus = #{guaranterMaritalStatus,jdbcType=VARCHAR},
      guaranterHouseAddress = #{guaranterHouseAddress,jdbcType=VARCHAR},
      guaranterMonthlyIncome = #{guaranterMonthlyIncome,jdbcType=VARCHAR},
      guaranterValues = #{guaranterValues,jdbcType=VARCHAR},
      guaranterTotalLiabilities = #{guaranterTotalLiabilities,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>